@using System.Configuration
@using RestaurantReview.Web.Helpers
@model IEnumerable<RestaurantReview.Web.Models.RestaurantListViewModel>


@foreach (var restaurant in Model) {
    <div class="restaurant">
        <h1>
            @Html.ActionLink(restaurant.Name, "Index", "Reviews", new { restaurant.Id }, null) (@restaurant.CountOfReviews) | Rating: @Html.Ratings(restaurant.AverageScore)
            <span class="pull-right">
                @Html.ActionLink("Details", "Details", "Restaurants", new { restaurant.Id }, null)
            </span>
        </h1>
        <div class="body clearfix">
            @if (restaurant.ImageUrl != null) {

                <img src="@ConfigurationManager.AppSettings["RestaurantImageUploadBase"]/@restaurant.Id/@restaurant.ImageUrl" />
            }
            else {
                <img src="~/Images/no-image.png" />
            }



            <div>
                @restaurant.Address
            </div>
            <div>
                @restaurant.City

            </div>
            <div>
                @restaurant.State

            </div>
            <div>
                <a href="tel:@restaurant.Phone">@restaurant.Phone</a>
            </div>
            <div>
                <a href="@restaurant.Web" target="_blank">@restaurant.Name</a>


            </div>
        </div>
    </div>
}
